/home/rena/.config/celestia/Scripts/.updates/.packages.exp
/home/rena/.bash_history
/home/rena/.bash_logout
/home/rena/.bash_profile
/home/rena/.bashrc
/home/rena/.cache/
/home/rena/.cargo/
/home/rena/.config/
/home/rena/.dotnet/
/home/rena/.gcm/
/home/rena/.gitconfig
/home/rena/.gnupg/
/home/rena/.local/
/home/rena/.mozilla/
/home/rena/.npm/
/home/rena/.nvm/
/home/rena/.oh-my-zsh/
/home/rena/.parsec-persistent/
/home/rena/.parsec/
/home/rena/.pki/
/home/rena/.python_history
/home/rena/.shell.pre-oh-my-zsh
/home/rena/.ssh/
/home/rena/.viminfo
/home/rena/.vscode-oss/
/home/rena/.vscode-server/
/home/rena/.w3m/
/home/rena/.wget-hsts
/home/rena/.xinitrc
/home/rena/.zcompdump-relina-pc-5.9
/home/rena/.zcompdump-relina-pc-5.9.zwc
/home/rena/.zsh_history
/home/rena/.zshrc
/home/rena/Downloads/
/home/rena/Pictures/
/home/rena/Script/
/home/rena/aif/
/home/rena/backup/
./
/home/rena/code/
/home/rena/eza
/home/rena/git-credential-manager/
/home/rena/tmp
/home/rena/tr2 ubu22.txt

